SECRET_KEY=change-me
DEBUG=True

# Postgres
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# Email (SMTP)
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Google OAuth2
GOOGLE_OAUTH2_KEY=
GOOGLE_OAUTH2_SECRET=

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_API_VERSION=2024-04-10

# Paymob
PAYMOB_API_KEY=
PAYMOB_SECRET_KEY=
PAYMOB_PUBLIC_KEY=
PAYMOB_BASE_URL=
PAYMOB_HMAC=

# Bosta
BOSTA_TOKEN=
BOSTA_BASE_URL=https://app.bosta.co/api/v2
BOSTA_COUNTRY_ID=

